<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Data Visualization</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"  >
        <link rel="stylesheet" href="static/style.css">
        <script src="static/libary/jquery-3.5.1.min.js"></script>
        <script src="static/libary/d3.js"></script>
    </head>

    <body>
        <div class="container-fluid">
            <nav class="row navbar navbar-expand-md bg-dark navbar-dark">
                <a class="navbar-brand" href="#">Data Visualization</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar" >
                    <ul class="navbar-nav">
                        <li class="nav-item" >
                            <a class="nav-link" href="index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="inspiration">Inspiration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  href="loaddata">Load Data</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <svg width="960" height="500"></svg>
        </div>

    <script src="static/index.js"></script>
    </body>
</html>